$font-logo: 'Pacifico', cursive;
$font-headers: 'Novecento Wide DemiBold', sans-serif;

$green: #87b672;
$green-hover: #9acf82;

$light-grey: #efefef;
$grey: #9b9999;
$dark-grey: #666262;
$grey-border: #ccc;

$dark: #333;